.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to top left, #22DD57, #4EE479);
  height: 100vh;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.id-input {
    display: flex;
    gap: 5px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.title {
  font-weight: bold;
  margin-bottom: 4px;
}

input[type="text"] {
  width: 100%;
}
  
.btn {
    background-color: #218125;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 12px 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.selfMsg,
.peerMsg {
    font-weight: 700;
}

.selfMsg {
    color: rgb(13, 218, 218);
}

.peerMsg {
    color: rgb(153, 221, 50);
}
  
#qrcode {
  padding:2px;
  border:6px solid #218125;
  border-radius: 6px;
  background-color: aliceblue;
}

#pass-word {
  margin: 10px;
}